APP_ENV=local
APP_DEBUG=true
APP_KEY=IEI3pY6RyzitbIWU99qZjJ7u7O1N5572

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=juniorm1_programmer
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379


MAIL_DRIVER=sendmail
MAIL_HOST=smtp-mail.outlook.com
MAIL_PORT=587
MAIL_USERNAME=marcelojunin2010@hotmail.com
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls